@import "bourbon", "neat";

$orange: #F5A623;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'helvetica';  
}

#header {
  width: 100%;
  background: $orange;
  padding: 1em 3em;
  overflow: auto;
  #logo {
    float: left;
    width: 215px;
    background: url('assets/images/logo.png');
    background-size: cover;
    text-indent: -9999px;
    margin-right: 80px;
    a {
      display: block;
      height: 80px;
    }
  }
  ul {
    padding-top: 31px;
  }
  li {
    text-transform: uppercase;
    font-size: 18px;
  }
  li a {
    color: lighten($orange, 30);
    text-decoration: none;
  }
  .active {
    color: #fff;
  }
  li a:hover {
    color: #fff;
  }
  #main-nav {
    float: left;
    li {
      display: inline;
      margin-right: 40px;
    }
  }
  #secondary-nav {
    float: right;
    li {
      display: inline;
      margin-left: 40px;
    }
  }
}

#search input {
  width: 100%;
  padding: 1em;
  border: 5px solid #eee;
  font-size: 2em;
  padding: .3em;
  margin-bottom: 1em;
}

#content .product {
  border: 1px solid #000;
  margin: .5em;
  border: 1px solid #979797;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.10);
  img {
    width: 100%;
    height: auto;
  }
  .info {
    padding: 1em;
    h1 {
      padding-bottom: .5em;
    }
  }
}


/** struttura **/
#wrap {
  @include outer-container;
  #content {
    margin-top: 2em;
    @include span-columns(9);
    .product {
      width: 31%;
      margin: 1%;
      float: left;
    }
  }
  #sidebar {
    background: black;    
    @include span-columns(3);
  }
}